<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fengxudong.framework.logic.mapper.UserAuthorityMapper">
    <resultMap id="userAuthorityEntity" type="com.fengxudong.framework.logic.entity.UserAuthorityEntity">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="authorityId" column="authority_id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="createTime"       column="create_time" jdbcType="BIGINT" />
        <result property="createUserId"     column="create_user_id" jdbcType="VARCHAR"/>
        <result property="createUserName"   column="create_user_name" jdbcType="VARCHAR"/>
        <result property="updateTime"       column="update_time" jdbcType="BIGINT"/>
        <result property="updateUserId"     column="update_user_id" jdbcType="VARCHAR"/>
        <result property="updateUserName"   column="update_user_name" jdbcType="VARCHAR"/>
        <result property="isDeleted"        column="is_deleted" jdbcType="INTEGER"/>
        <result property="orgId"            column="org_id" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>